/*
    APP CSS FILE
 */


.jfx-button{
    -jfx-disable-visual-focus: true;
}
.title{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.subTitle{
    -fx-font-family: "Roboto";
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
}

.main_content{
    -fx-background-color: #ffb300;
}

.custom_button{
    -fx-font-family: "Roboto";
    -fx-background-color: #212121;
    -fx-text-fill: azure;
}